---
---
<html>
	<body>
		<h1>Hello World</h1>
		<h2>IM ALIVE</h2>
	</body>
</html>
<style>
 h2 {
	 color: #EA638C;
 }
</style>
<style is:global>
 @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
</style>

